/* This is the standard css layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-color:hsl(223, 47%, 23%);
    --small-text-color: hsl(224, 23%, 55%);
}
*{
    font-family: 'Red Hat Display', sans-serif;
}

article{
    width:375px;
    margin-inline: auto;
}
.order-details{
    width:100%;
    margin-block: 1rem;
    border-radius: 0px;
}
.order-image img{
    max-width: 100%;
}
.order-title{
    text-align: center;
    margin-block-end: 1rem;
    font-size:1.21rem;
    font-weight: 900;
    margin-block-start: 1.5rem;
    color:var(--header-color);
    text-shadow: 0px 0px 1px var(--header-color);
    line-height: 1.5rem;
}
.order-desc{
    text-align: center;
    margin-block-end: 1rem;
    font-size: .85rem;
    color: var(--small-text-color);
    width: 60%;
    margin-inline:auto ;
    line-height: 1.5rem;
    text-shadow: 0px 0px .9px var(--small-text-color);
}
.order-plan{
    margin-block-end: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-inline: auto;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: .9rem;
    justify-content: space-between;
    border-radius: 10px;
}
.audio-plan{
    display: flex;
    align-items: center;
}
.order-plan .plan-amount{
    margin-inline-start: 1rem;
}
.order-plan .plan-amount > p:first-child{
    font-size: .9rem;
    font-weight: 900;
    color: var(--header-color);
    text-shadow: 0px 0px .9px var(--header-color);
}
.order-plan .plan-amount > p:last-child{
    font-size: .9rem;
    color: var(--small-text-color)
}
.order-details button{
    width: 85%;
    display: block;
    padding-block: .7rem;
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: #ffffff;
    margin: 1.85rem auto;
    font-size: .95rem;
    border-radius: 8px;
    box-shadow: 0px 20px 20px rgba(56, 41, 224, .2);
}
.cancel-order{
    display: block;
    text-align: center;
    color: var(--small-text-color);
    text-decoration: none;
    font-weight: 700;
}



@media screen and (min-width: 578px) {
    
}
@media screen and (min-width: 769px) {
    
}
@media screen and (min-width: 1178px) {

}
@media screen and (min-width: 1201px) {
    
}
